* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

body {
    background-color:hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    min-height: 100vh;
    
}

.container{
    background-color: white;
    max-width: 320px;
    border-radius: 0 1rem 1rem 0;  
}

img{
    border-radius: 1rem 0 0 1rem;
}

.perfume{
    color: hsl(228,14%,48%);
    padding: 2rem 0 0 2rem;
    
}
h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', Serif;
    font-size: 2rem;
    padding: 1rem 0 0 2rem;
}

p{
    padding: 1rem 4rem 0 2rem;
    font-weight: 100;
    color: hsl(228,14%,48%);
}

.price {
    display: flex;
    align-items: center;
}
.new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', Serif;
    font-size: 2rem;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    padding-right: 3rem;
}

button{
    background-color: hsl(158, 36%, 37%);
    border: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;

}